@font-face {
  font-family: 'cat_rhythmusregular';
  src: url('../fonts/catrhythmus-webfont.woff2') format('woff2'),
    url('../fonts/catrhythmus-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'roboto_condensedregular';
  src:
    url('../fonts/RobotoCondensed-Regular-webfont.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  font-family: 'roboto_condensedregular';
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}

body {
  background: #FCF9F1;

}


#mama {
  max-width: 1200px;
  margin: 20px auto;

}

/* Eins */

#eins {
  height: 140px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(181deg, #437848 8%, rgba(193, 203, 192, 0.607) 89%), url(../images/dtbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}

/* Rechts */

#rechts {
  display: flex;
  flex-direction: column;
}

/* Rechtsoben */

#rechtsoben {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

/* Name-Logo*/

#name-logo {

  width: 100px;
  height: 100px;
  padding: 10px;
  flex-direction: column;
  border-radius: 50%;
  display: inline-block;
  background: #2d5131;
  color: #FCF9F1;
  transform: rotate(-15deg);
}


#first-name {
  font-family: 'cat_rhythmusregular';
  font-size: 3em;
  line-height: 1em;
}

#last-name {
  font-family: 'cat_rhythmusregular';
  font-size: 3.2em;
  line-height: 1em;
}

/* Untertitel */

#sub-title {
  font-size: 1.7em;
  margin-top: 5px;
  color: #FCF9F1;
  font-family: 'cat_rhythmusregular';
  font-variant: small-caps;
  text-shadow:
    0px 1px 0px rgba(255, 255, 255, 0.4),
    1px 2px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.2em;
}

/*Sprache */
#language {
  display: flex;
  gap: 6px;
  /* Moderner als margin-left */
  transition: all 0.3s ease;
}

/* Inaktive und aktive Sprache */
#langin,
#langak {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #437848;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

/* Spezifische Stile für inaktive Sprache */
#langin {
  background-color: #a8dfb08b;
  color: #161714;
}

/* Spezifische Stile für aktive Sprache */
#langak {
  background: #2d5131;
  color: #FCF9F1;
  text-decoration: underline;
}

/* Hover-Effekte */
#langin:hover {
  transform: scale(1.4);
  color: #FCF9F1;
  background: #2d5131;
  text-decoration: underline;
}

#langin a:hover {
  color: #FCF9F1;
}

/* Navigation */
.topnav {
  overflow: hidden;
}

.topnav a {
  color: black;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid #437848;
  background-color: #a8dfb08b;
  font-size: 1em;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.topnav a:hover {
  background-color: #437848;
  color: white;
  text-decoration: underline;
  transform: scale(1.2);
}

.topnav a.active {
  background-color: #437848;
  color: white;
  text-decoration: underline;
  transform: scale(1.2);
  user-select: none;
}

.topnav .icon {
  display: none;
}

.innen {
  display: none;
}

.topnav:hover .innen {
  display: block;
}


/* Content */

.content {
  width: 80%;
  margin: auto;
}

p {
  margin: 30px;
  line-height: 1.5em;


}

/* Ungeordnete Listen */
ul {

  margin: 45px;
  line-height: 1.5em;

}

/* Links */
p a {
  text-decoration: underline;
}

a {
  color: #161714;
  text-decoration: none;
}

/* Spalten */
.multicolumn {
  column-count: 2;
  column-gap: 20px;
  column-rule: 1px solid #FCF9F1;
}

/* überschriften */

h1 {
  font-size: 2rem;
  margin: 30px;
  font-family: 'cat_rhythmusregular';
}

h2 {
  font-family: 'cat_rhythmusregular';
  margin: 30px;
  font-size: 180%;
  text-align: left;
}

h3 {
  font-family: 'cat_rhythmusregular';
  margin: 30px;
  font-size: 150%;
  text-align: left;
}



hr {
  width: 50%;
  margin: 0 auto;
}


/* Bilder */

img {
  display: block;
  margin: 20px;
  max-width: 50vw;
}

.img-right {
  float: right;
  margin: 0 auto 20px 20px;
  max-width: 50vw;
}

.img-left {
  float: left;
  margin: auto 20px 20px 20px;
  max-width: 50vw;
}


/* Footer */

#footer {
  margin: 30px;
  border-top: 1px solid #437848;
  /* Dünne Linie oben */
  padding: 20px 0;
  margin-top: 30px;
  text-align: right;
  clear: both;
}

#footer p {
  font-size: 0.6em;
}

#footer a {
  font-size: 1em;
}

/* Tabletansicht */

@media only screen and (max-width: 900px) {

  .topnav a {
    font-size: .7em;
    padding: 6px;
    margin: 6px;
  }

  #mama {
    max-width: 900px;
    margin-top: 0px;
  }

}

/* Handyansicht */
@media only screen and (max-width: 750px) {

  body {
    overflow-x: hidden;
  }

  #mama {
    max-width: 100vw;
    margin: 0px;
    overflow-x: hidden;

  }

  img {
    max-width: 98%;

  }

  #eins {
    display: flex;
    max-width: 100%;
    height: 190px;
    background: linear-gradient(181deg, #437848 8%, rgba(193, 203, 192, 0.607) 89%), url(../images/cpbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;

  }

  /* Navigation */
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav {
    overflow: hidden;
    background-color: #437848;
    margin: auto;
    width: 100vw;
  }

  .topnav a {
    margin: 10px;
    border: 1px solid #437848;
    background-color: #a8dfb0;
    font-size: 1em;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative
  }

  .topnav a.active {
    background-color: #437848;
    color: white;
    text-decoration: underline;
    transform: none;
  }

  .topnav a:hover {
    background-color: #437848;
    color: white;
    text-decoration: underline;
    transform: none;
  }




  #myTopnav {
    position: relative;
    margin: auto;
    margin-top: 16px;
    left: -130px;
  }

  #name-logo {
    display: block;
  }

  #rechts {
    min-width: 0;
    flex-direction: column;
  }

  #rechtsoben {
    padding: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-bottom: 15px;

  }

  /* Untertitel */
  #sub-title {
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 15px;
  }

  /* Sprache */
  #language {
    display: flex;
    gap: 6px;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  /* Inhalt */
  .content {
    width: 98%;
    margin: auto;
  }

  .multicolumn {
    column-count: 1;
    column-gap: 0;
  }

}

/* Optimierung für Drucker */

@media print {

  * {
    background: none;
    color: black;
  }


  /* LAYOUT RESET */
  body,
  #mama {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* Bilder */

  img {
    max-width: 98vw;
  }


  /* Untertitel */
  #sub-title {
    font-size: 1.2em;
  }

  /* Navi */
  .topnav a {
    color: black;
    padding: 5px 5px;
    font-size: .6em;
  }

  /* Inhalt*/
  .content {
    width: 100%;
    max-width: 100%;
  }

  /* TYPOGRAPHie */
  body {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 11pt;
    line-height: 1.5;
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 1em 2.5em 0em;
  }

  h2 {
    font-size: 14pt;
  }

  p {
    margin: 1em 2.5em 0em;
  }

  li {
    margin: 1em 2.5em 0em;
    line-height: 1.5em;
  }

  /* Spalten entfernen */
  .multicolumn {
    column-count: 1;
  }

  /* Links */
  a {
    color: #000;
    text-decoration: underline;
  }

}